/* ============================================
    RESPONSIVE GENERAL
============================================ */
@media (max-width: 1024px) {
    
}

@media (max-width: 800px) {
    nav ul {
        flex-wrap: wrap;
        justify-content: center;
    }

    .sobre-nosotros,
    .introduccion {
        padding: 30px 20px;
    }

    .sn-iconos {
        flex-direction: column;
        gap: 20px;
    }

    body.fondo-cursos main {
        padding: 20px;
    }

    body.fondo-cursos .panel-grid {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 500px) {
    header {
        flex-direction: column;
        text-align: center;
        padding: 20px;
    }

    .logo {
        width: 130px;
        height: 130px;
    }

    .info-escuela {
        padding-left: 0;
    }

    .carousel {
        height: 450px;
    }

    .slide-content h2 {
        font-size: 1.8rem;
    }

    .slide-content p {
        font-size: 1rem;
    }

    body.fondo-cursos main {
        padding: 12px;
    }
}